body {
  font-family: sans-serif;
  text-align: center;
  background: #222;
  color: white;
}

#controls {
  margin-top: 15px;
}

button {
  padding: 8px 12px;
  margin: 0 10px;
  background-color: #444;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #666;
}
